<html>
<head>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- add to homescreen for ios -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />    
    <script>
      function close(){
          const messageObj = {close: true}
          const stringifiedMessageObj = JSON.stringify(messageObj)
        if (window.webkit && window.webkit.messageHandlers) {
              window.webkit.messageHandlers.cordova_iab.postMessage(stringifiedMessageObj)
            }
      }
    </script>    
  </head>
  <%- include('./../style/common.ejs'); %>
<body>
  <div class="floatingClose" onclick="window.close()">X</div>
  <div class="bgpadding1">
    <header class="bgTopDownpadding1 bold">Home Chef Terms of Use</header>
    <section class="bgTopDownpadding1">"Mealawe Home Chef" is a mobile application that provides an online marketplace that connects Home Chefs who want to sell meals to users looking for meals. Mealawe Home Chef mobile application is designed, developed & conceptualized by CLIMBING SEEDS PRIVATE LIMITED.</section>
    <section class="bgTopDownpadding1">CLIMBING SEEDS PRIVATE LIMITED is a company, located at #203, Altus, Laxman Nagar, Baner, Pune, MH, 411045. All rights, benefits, liabilities & obligations under the following terms & conditions shall accrue to the benefit of CLIMBING SEEDS PRIVATE LIMITED (together with its subsidiaries and other affiliates hereinafter referred to as "Us", "We" or "Company").</section>
    <section class="bgTopDownpadding1">Mealawe may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we make, as they are binding on you.</section>
    <section class="bgTopDownpadding1">Mealawe may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we make, as they are binding on you.</section>
    <section class="bgTopDownpadding1">Please read these Terms of Use carefully before you use the services. If you do not agree to these Terms of Use, you may not use the services on the Platform, and we request you to uninstall the Application. By installing, downloading, or even merely using the Platform, you shall be contracting with Mealawe and signify your acceptance to the Terms of Use and other policies (including but not limited to the Cancellation & Refund Policy, Privacy Policy, and Take Down Policy) as posted on the Platform from time to time, which takes effect on the date on which you download, install or use the Services, and create a legally binding arrangement to abide by the same. You may not use the Services if you do not accept the Terms or are unable to be bound by the Terms. Your use of the Platform is at your own risk, including the risk of data theft, virus attack, or that you might be exposed to content that is objectionable, or otherwise inappropriate.</section>
    <section class="bgTopDownpadding1">"Users/Buyers" means a person who has signed up and is registered with Mealawe for the use or potential use/purchase of the Goods/Services.</section>
    <section class="bgTopDownpadding1">"Vendor/Home Chef" means a food and beverage supplier or business or establishment having sole responsibility for providing food and beverage services registered with Mealawe</section>
    <section class="bgTopDownpadding1">"Meals" means home food and beverages i.e. Indian Cuisine, Bakery Items, Pickles, Juices, etc. prepared by Home Chef who are registered on Mealawe Home Chef application.</section>
    <section class="bgTopDownpadding1">References to Home Chef shall include such party's successors, employees, permitted assignees, and any persons deriving title under it.</section>
    <section class="bgTopDownpadding1">The Terms and Conditions, hereinafter referred to as "The Agreement"  may be amended from time to time and is a legal contract between Home Chef and Mealawe.</section>
   
    <header class="bgTopDownpadding1 bold">Terms & Conditions</header>
    <section class="bgTopDownpadding1">By using the Mealawe Home Chef mobile application, Home Chefs are accepting the below-specified Terms of Use-</section>
    <section class="bgTopDownpadding1">1. Home Chef is responsible for informing Mealawe if they are unable to take orders due to prior commitments, sickness, holidays, etc. Home Chef is required to update their leave dates on the website through their personal admin system.</section>
    <section class="bgTopDownpadding1">2. All commercial/contractual terms are offered by Home Chef and agreed to, is between Users and Home Chef alone. The commercial/contractual terms include without limitation price, taxes, shipping costs, payment methods, payment terms, date, period, and mode of delivery, warranties related to products and services, and after-sales services related to products and services. Mealawe does not have any control or does not determine or advise or in any way involve itself in the offering or acceptance of such commercial/contractual terms between the Users and Home Chefs. Payment will be received by Mealawe and Mealawe will transfer the payment to Home Chef after deducting commission.</section>
    <section class="bgTopDownpadding1">3. In case of any copyright infringement due to photographs uploaded by Home Chefs on their profile, liability will lie on Home Chefs and not on Mealawe. Any information provided by the Home Chef including photos, menu items, profile descriptions, etc. can be used by Mealawe for various purposes, including business development, promotions, etc.</section>
    <section class="bgTopDownpadding1">4. The Home Chefs are solely responsible for honoring any confirmed bookings and making available any dishes/service reserved through the platform. If you, as a Mealawe buyer, choose to enter into a transaction with a Home Chefs for the booking of a Meal, you agree and understand that you will be required to enter into an agreement with the Home Chefs and you agree to accept any terms, conditions, rules, and restrictions associated with such Meal imposed by the Home Chefs. You acknowledge and agree that you, and not Mealawe, will be responsible for performing the obligations of any such agreements, and we are not a party to such agreements and disclaim all liability arising from or related to any such agreements.</section>
    <section class="bgTopDownpadding1">5. The Home Chefs are solely responsible for the preparation and timely delivery of food (as per terms specified on their profile) as well as for maintaining quality and hygiene. Mealawe will not be responsible or liable for the quantity or quality of meals delivered.</section>
    <section class="bgTopDownpadding1">6. The Home Chef by being on the platform acknowledges and agrees that a substantial portion of the compensation will be paid to Mealawe for making the mobile application available to the Home Chef is collected as a commission on the money you receive for orders to the clients. Therefore, once you identify or are identified by any party through the mobile application, you must inform Mealaweof such an order and pay the commission for work arising directly or indirectly with that party or arising out of your relationship with that party.</section>
    <section class="bgTopDownpadding1">7. If delivery is being done by Home Chefs or if the Customer is picking up the food from the Home Chef, then Home Chef will not be responsible for collecting payments from Customers and will not be liable therefore for loss that may occur due to non-payment on behalf of customers, if any.</section>
    <section class="bgTopDownpadding1">8. Mealawe will not be responsible for any health damages or sickness caused due to the food delivered by the Home Chefs. In addition, although these Terms require Home Chefs/Users to provide accurate information, we do not attempt to confirm and do not confirm any Member's/user purported identity. You are responsible for determining the identity and suitability of others who you contact via the Application and Services. By using the Application or Services, you agree that any legal remedy or liability that you seek to obtain for actions or omissions of other Members/users or other third parties will be limited to a claim against the particular Members or other third parties who caused you harm and you agree not to attempt to impose liability on, or seek any legal remedy from Mealawe with respect to such actions or omissions.</section>
    <section class="bgTopDownpadding1">9. The Home Chef will follow the basic hygiene and safety requirements as laid down by the FSSAI. If they fail to do so, the Home Chef may be asked for a refund of the full order value to the client.</section>
    <section class="bgTopDownpadding1">10. Mealawe will send regular reminders to Home Chefs for the said commission and will be liable to cancel their registrations upon non-payment to Mealawe.</section>
    <section class="bgTopDownpadding1">11. Mealawe will monitor Home Chefs closely, using Customer feedback provided in any form to Mealawe, and will remove and block Home Chefs if they are unable to comply with Mealawe standards and/or tarnish our reputation. (A Home Chefs will be blocked from the application if the average user rating falls below 2.5 out of 5.0. The rating will be calculated on the basis of customer feedback and reviews and a minimum of 50 customer reviews are required)</section>
    <section class="bgTopDownpadding1">12. Mealawe is not responsible for any liability, if any, that may arise from the misuse of the shared information, if any, or from the consumption of any food and beverages prepared by a Home Chef.</section>
    <section class="bgTopDownpadding1">13. The Home Chefs cannot, under any circumstances, place orders on their own profiles</section>
    <section class="bgTopDownpadding1">14. Neither parties, be it the Customer, Mealawe or the Home Chef shall be responsible to the others for any delay or non-performance of its obligations under this agreement arising from any cause beyond its control including, without limitation, any of the following: an act of God, governmental act, war, fire, flood, explosion or civil commotion.</section>
    <section class="bgTopDownpadding1">15. Home Chefs are legally obliged to add Mealawe branding to all orders that have been forwarded to them by Mealawe.</section>
    <section class="bgTopDownpadding1">16. For corporate orders, the payments will be made as per the corporate's payment cycle.</section>
    <section class="bgTopDownpadding1">17. All Home Chefs must complete the KYC formalities with Mealawe. No payments will be made to Home Chefs who have not completed their KYC formalities.</section>
    <section class="bgTopDownpadding1">18. If a Home Chef does not accept/reject online placed food order within 5 minutes, Mealawe will send an automated call to Home Chef's registered mobile number through third party calling services.</section>
    <header class="bgTopDownpadding1 bold">Disclosure</header>
    <section class="bgTopDownpadding1">We may disclose to third party services certain personally identifiable information listed below -</section>
    <section class="bgTopDownpadding1">
      <li>Information you provide us such as name, email, mobile phone number</li>
      <li>Information we collect as you access and use our service, including device information, location, and network carrier</li>
    </section>
    <section class="bgTopDownpadding1">This information is shared with third-party service providers so that we can -</section>
    <section class="bgTopDownpadding1">
      <li>Personalize the mobile application for you</li>
      <li>Perform behavioral analytics</li>
    </section>

    <header class="bgTopDownpadding1 bold">User Registration</header>
    <section class="bgTopDownpadding1">Mealawe may collect your personal information -</section>
    <section class="bgTopDownpadding1">
      <li>when you register an account</li>
      <li>when you purchase services on the Application</li>
      <li>when you participate in contests, competitions, questionnaires, and surveys</li>
      <li>when you contact us</li>
      <li>when you provide certain content to Mealawe, for example, testimonials and customer reviews</li>
      <li>from third-party sources, for example, credit checking agencies.</li>
    </section>
    <section class="bgTopDownpadding1">Mealawe may use your personal information for -</section>
    <section class="bgTopDownpadding1">
      <li>registering your account with Mealawe</li>
      <li>for fulfilling orders</li>
      <li>for responding to your queries</li>
      <li>for improving your experience and providing you with information about our services, special offers, and promotions.</li>
    </section>
    <section class="bgTopDownpadding1">Mealawe will only share your information with its carefully selected third-party Partners for necessary business administration, customer delivery, marketing, operational and analytical purposes.</section>
    <section class="bgTopDownpadding1">Mealawe may also share your information with third parties for the purpose of data analysis, quality assurance including fraud prevention.</section>
    <section class="bgTopDownpadding1">Mealawe uses leading technology and security measures (electronic, physical and procedural) to ensure the safety and confidentiality of your information through collection, storage, and disclosure. Such measures include maintaining a secure encryption-based transmission system, intrusion detection, and prevention software and virus software in respect of your information.</section>

    <header class="bgTopDownpadding1 bold">Privacy Policy</header>
    <section class="bgTopDownpadding1">You represent that you have read understood and agreed to Mealawe Privacy Policy. Please note that Mealawe may disclose information about you to third parties or government authorities if Mealawe believe that such disclosure is reasonably necessary to -</section>
    <section class="bgTopDownpadding1">
      <li>take action regarding suspected illegal activities;</li>
      <li>enforce or apply our Terms and Privacy Policy;</li>
      <li>comply with legal process or other government inquiry, such as a search warrant, subpoena, statute, judicial proceeding, or other legal processes/notice served on us;</li>
      <li>protect our rights, reputation, and property, or that of our users, affiliates, or the general public.</li>
    </section>

    <header class="bgTopDownpadding1 bold">Cancellation and Refund Policy</header>
    <section class="bgTopDownpadding1">"Users/Buyers" means a person who has signed up and is registered with Mealawe for the use or potential use/purchase of the Goods/Services.</section>
    <section class="bgTopDownpadding1">"Vendor/Home Chef/Merchants" means a food and beverage supplier or business or establishment having sole responsibility for providing food and beverage services registered with Mealawe.</section>
    <section class="bgTopDownpadding1">"Meals" means home food and beverages i.e. Indian Cuisine, Bakery Items, Pickles, Juices, etc. prepared by Home Chef who are registered on Mealawe Home Chef application.</section>
    <section class="bgTopDownpadding1">References to Home Chef shall include such party's successors, employees, permitted assignees, and any persons deriving title under it.</section>

    <header class="bgTopDownpadding1 bold">Cancellation Policy</header>
    <section class="bgTopDownpadding1">
      <div>1. If a Home Chef accepts daily food orders, then there is no option to cancel the order.</div>
      <div>2. In the case of an advance food order, if a Home Chef accepts advance food order 1 day prior to the actual delivery day, then there is no option to cancel the order. However, a Home Chef has an option to cancel an advance food order 2 days prior to the actual delivery day.</div>
      <div>3. Daily food order is a non-refundable order if it is accepted by the Home Chef.</div>
      <div>4. A user can only cancel daily food order if the order is not accepted by the Home Chef for 30 minutes (approx.) from the time of placing the order. In this case, the total order value, including delivery charges, will be credited to the user's wallet.</div>
      <div>5. If the Home Chef does not accept the daily food order nor the user cancels the daily food order after 30 minutes (approx.), then the order will stand canceled after 2 hours (approx.) from the time of placing the order.</div>
      <div>6. In the case of an advance food order, a user cannot cancel the order 1 day prior to the actual delivery day. However, if a user cancels advance food order 2 days prior to the actual delivery day, then 10% of the total food value will be deducted as cancellation charges. The rest of the amount, including delivery charges, will be credited to the user's wallet.</div>
      <div>7. In case of an advance order, which is placed 1 day prior to the actual delivery date, if the Home Chef does not accept the order, then the order stands canceled after 2 hours (approx.). In the meantime, the user will not have the option to cancel the order.</div>
      <div>8. In case of an advance order, which is placed 2 days prior to the actual delivery date, if the Home Chef does not accept the order, then the order stands canceled after 2 hours (approx.). In the meantime, the user will also have an option to cancel the order.</div>
      <div>9. Mealawe or the Home Chef may cancel an order if the product is not available for any reason. Mealawe will notify the user if this is the case and return any payments that has been made in full in the user's wallet.</div>
    </section>
    <section class="bgTopDownpadding1">Mealawe reserves the right to collect a penalty for the Orders constrained to be cancelled by Mealawe for reasons not attributable to Mealawe, including but not limited to:</section>
    <section class="bgTopDownpadding1">in the event if the address provided by User/Buyer is either wrong or falls outside the delivery zone;</section>
    <section class="bgTopDownpadding1">failure to contact User/Buyer by phone or email at the time of delivering the Order booking;</section>
    <section class="bgTopDownpadding1">failure to deliver User/Buyer Order due to lack of information, direction or authorization from Buyer at the time of delivery; or</section>
    <section class="bgTopDownpadding1">unavailability of all the items ordered by User/Buyer at the time of booking the Order; or</section>
    <section class="bgTopDownpadding1">unavailability of all the items ordered by User/Buyer at the time of booking the Order. However, in the unlikely event of an item in an Order being unavailable, Mealawe will contact the Buyer on the phone number provided to us at the time of placing the Order and inform Buyer of such unavailability. In such an event Buyer will be entitled to cancel the entire Order and shall be entitled to a refund to an amount upto 100% of the Order value in the user's wallet.</section>
    <section class="bgTopDownpadding1">In case of cancellations for the reasons attributable to Mealawe or the Vendor/Merchant or pick-up & delivery partner, Mealawe shall not collect any penalty from the Buyer.</section>
  </div> 
</body>

</html>