<html>
<head>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- add to homescreen for ios -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />    
    <script>
      function close(){
          const messageObj = {close: true}
          const stringifiedMessageObj = JSON.stringify(messageObj)
        if (window.webkit && window.webkit.messageHandlers) {
              window.webkit.messageHandlers.cordova_iab.postMessage(stringifiedMessageObj)
            }
      }
    </script>    
  </head>
  <%- include('./../style/common.ejs'); %>
<body>
  <div class="floatingClose" onclick="window.close()">X</div>
  <div class="bgpadding1">
    <header class="bgTopDownpadding1 bold">User Terms & Conditions</header>
    <section class="bgTopDownpadding1">"Mealawe" is a mobile application that provides an online marketplace that connects users who wants to order meals. Mealawe mobile application is designed, developed & conceptualized by CLIMBING SEEDS PRIVATE LIMITED.</section>
    <section class="bgTopDownpadding1">CLIMBING SEEDS PRIVATE LIMITED is a company, located at #203, Altus, Laxman Nagar, Baner, Pune, MH, 411045. All rights, benefits, liabilities & obligations under the following terms & conditions shall accrue to the benefit of CLIMBING SEEDS PRIVATE LIMITED (together with its subsidiaries and other affiliates hereinafter referred to as "Us", "We" or "Company").</section>
    <section class="bgTopDownpadding1">Mealawe may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we make, as they are binding on you.</section>
    <section class="bgTopDownpadding1">These Terms of Service (the "Terms") are intended to make you aware of your legal rights and responsibilities with respect to your access to and use of Mealawe mobile application and any related mobile or software applications including but not limited to delivery of information via the website whether existing now or in the future that link to the Terms (collectively, the "Services").</section>
    <section class="bgTopDownpadding1">Please read these Terms of Use carefully before you use the services. If you do not agree to these Terms of Use, you may not use the services on the Platform, and we request you to uninstall the App. By installing, downloading, or even merely using the Platform, you shall be contracting with Mealawe and signify your acceptance to the Terms of Use and other policies (including but not limited to the Cancellation & Refund Policy, Privacy Policy, and Take Down Policy) as posted on the Platform from time to time, which takes effect on the date on which you download, install or use the Services, and create a legally binding arrangement to abide by the same. You may not use the Services if you do not accept the Terms or are unable to be bound by the Terms. Your use of the Platform is at your own risk, including the risk of data theft, virus attack, or that you might be exposed to content that is objectionable, or otherwise inappropriate.</section>
    <section class="bgTopDownpadding1">"Users/Buyers" means a person who has signed up and is registered with Mealawe for the use or potential use/purchase of the Goods / Services.</section>
    <section class="bgTopDownpadding1">"Vendor/Home Chef" means a food and beverage supplier or business or establishment having sole responsibility for providing food and beverage services registered with Mealawe.</section>
    <section class="bgTopDownpadding1">"Meals" means home food and beverages i.e. Indian Cuisine, Bakery Items, Pickles, Juices, etc. prepared by the Home chef who is registered on the application.</section>

    <header class="bgTopDownpadding1 bold">Eligibility to Use the Services</header>
    <section class="bgTopDownpadding1">You hereby represent and warrant that you are at least eighteen (18) years of age or above and are fully able and competent to understand and agree to the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms. You further declare that you are in compliance with all laws and regulations in the locality/state/country in which you live when you access and use the Services. You agree to use the Services only in compliance with these Terms and applicable law, and in a manner that does not violate our legal rights or those of any third party(ies).</section>

    <header class="bgTopDownpadding1 bold">Registration</header>
    <section class="bgTopDownpadding1">You may have to create an account in order to use some of the features offered by the platform, including without limitation to specific pages for Home Chefs on the Platform. Use/storage of any personal information you provide to us during the account creation process is governed by our Privacy Policy. You are always and solely responsible for all activities that occur in your account. You agree to notify us immediately of any unauthorized use of your account in order to enable us to take necessary corrective action. In creating an account, you represent to us that all information provided to us in such a process is true, accurate, and correct and that you will update your information as and when necessary in order to keep it accurate. You may not impersonate someone else, create or use an account for anyone other than yourself, provide an email address other than your own, create multiple accounts or Home Chef listings except as otherwise authorized by us, or provide or use false information to obtain access to the platform that you are not legally entitled to claim. You acknowledge that any false claim may result in substantial losses or damage to Mealawe or third parties, for which you may be held liable and accountable.</section>
    <section class="bgTopDownpadding1">There are 2 types of orders that can be given by users-</section>
    <section class="bgTopDownpadding1">
        <div>1. Daily Order - Here food order is placed on a daily basis which is instant during breakfast, lunch, high tea, or dinner tim</div>
        <div>2. Advance Order - Here food orders can be placed a maximum of 48 hours in advance.</div>
    </section>

    <header class="bgTopDownpadding1 bold">Terms of Use</header>
    <section class="bgTopDownpadding1">By using Mealawe mobile application, Users are accepting the below-specified Terms of Use-</section>
    <section class="bgTopDownpadding1">1. All commercial/contractual terms are offered by Home Chef and agreed to, is between Buyers and Home Chefs alone. The commercial/contractual terms include without limitation price, taxes, shipping costs, payment methods, payment terms, date, period, and mode of delivery, warranties related to products and services, and after-sales services related to products and services. Mealawe does not have any control or does not determine or advise or in any way involve itself in the offering or acceptance of such commercial/contractual terms between the Buyers and Home chefs. </section>
    <section class="bgTopDownpadding1">2. Once a Customer places an order on Mealawe mobile application, the Home Chef must confirm the order, whereby he/she commits to the details of said placed order. Mealawe will not be liable for any discrepancies that may arise thereafter.</section>
    <section class="bgTopDownpadding1">3. Mealawe will not be responsible for any loss incurred by Customers due to any actions of the Home Chefs including the non-performance of the orders. </section>
    <section class="bgTopDownpadding1">4. We disclaim any and all liability to the Customer for the supply of the Food Delivery, Goods, and Services to the fullest extent permissible under applicable law. This does not affect the Customer's statutory rights as a consumer.</section>

    <header class="bgTopDownpadding1 bold"></header>
    <section class="bgTopDownpadding1">
        <div>1. A user cannot cancel daily orders as they are non-refundable. In case of an advance order, the user must place a cancellation order in the mobile application at least 24 hours before the actual delivery of the advance order.</div>
        <div>2. Mealawe or the Home Chef may cancel an order if the product is not available for any reason. Mealawe will notify you if this is the case and return any payment that you have made.</div>
        <div>3. If the cancellation was made in time and once the Home Chef has accepted your cancellation, Mealawe will refund or re-credit your debit or credit card with the full amount, which includes the initial delivery charge (where applicable) which you paid for the delivery of the Goods or the Services, as applicable.</div>
        <div>4. Refunds may take up to 2 weeks, depending upon the mode of payment collection. </div>
    </section>

    <header class="bgTopDownpadding1 bold">Privacy Policy</header>
    <section class="bgTopDownpadding1">Mealawe collects personal information from you when you order goods or services from Mealawe website. Mealawe also collects information when you complete any customer survey.</section>
    <section class="bgTopDownpadding1">Information that Mealawe collects from you is used to process your order and to manage your account. Mealawe may also use your information to email you about other products or services that Mealawe thinks may be of interest to you.</section>
    <section class="bgTopDownpadding1">You represent that you have read understood and agreed to Mealawe Privacy Policy. Please note that Mealawe may disclose information about you to third parties or government authorities if Mealawe believe that such disclosure is reasonably necessary to</section>
    <section class="bgTopDownpadding1">
        <li>take action regarding suspected illegal activities;</li>
        <li>enforce or apply our Terms and Privacy Policy;</li>
        <li>comply with legal process or other government inquiry, such as a search warrant, subpoena, statute, judicial proceeding, or other legal processes/notice served on us; or</li>
        <li>protect our rights, reputation, and property, or that of our users, affiliates, or the general public.</li>
    </section>

    <header class="bgTopDownpadding1 bold">Jurisdiction of Law</header>
    <section class="bgTopDownpadding1">In case of any dispute regarding the privacy policy of Mealawe, an arbitrator shall be appointed to ascertain the rights and liabilities of the parties.</section>
    <section class="bgTopDownpadding1">You further accept that all disputes are subject to laws applicable in the State of Maharashtra, India, and subject to jurisdictions of courts in the State of Maharashtra, India only.</section>

    <header class="bgTopDownpadding1 bold">Cancellation and Refund Policy</header>
    <section class="bgTopDownpadding1">"Users/Buyers" means a person who has signed up and is registered with Mealawe for the use or potential use/purchase of the Goods/Services.</section>
    <section class="bgTopDownpadding1">"Vendor/Home Chef/Merchants" means a food and beverage supplier or business or establishment having sole responsibility for providing food and beverage services registered with Mealawe.</section>
    <section class="bgTopDownpadding1">"Meals" means home food and beverages i.e. Indian Cuisine, Bakery Items, Pickles, Juices, etc. prepared by Home Chef who are registered on Mealawe Home Chef application.</section>
    <section class="bgTopDownpadding1">References to Home Chef shall include such party's successors, employees, permitted assignees, and any persons deriving title under it.</section>

    <header class="bgTopDownpadding1 bold">Cancellation Policy</header>
    <section class="bgTopDownpadding1">
      <div>1. If a Home Chef accepts daily food orders, then there is no option to cancel the order.</div>
      <div>2. In the case of an advance food order, if a Home Chef accepts advance food order 1 day prior to the actual delivery day, then there is no option to cancel the order. However, a Home Chef has an option to cancel an advance food order 2 days prior to the actual delivery day.</div>
      <div>3. Daily food order is a non-refundable order if it is accepted by the Home Chef.</div>
      <div>4. A user can only cancel daily food order if the order is not accepted by the Home Chef for 30 minutes (approx.) from the time of placing the order. In this case, the total order value, including delivery charges, will be credited to the user's wallet.</div>
      <div>5. If the Home Chef does not accept the daily food order nor the user cancels the daily food order after 30 minutes (approx.), then the order will stand canceled after 2 hours (approx.) from the time of placing the order.</div>
      <div>6. In the case of an advance food order, a user cannot cancel the order 1 day prior to the actual delivery day. However, if a user cancels advance food order 2 days prior to the actual delivery day, then 10% of the total food value will be deducted as cancellation charges. The rest of the amount, including delivery charges, will be credited to the user's wallet.</div>
      <div>7. In case of an advance order, which is placed 1 day prior to the actual delivery date, if the Home Chef does not accept the order, then the order stands canceled after 2 hours (approx.). In the meantime, the user will not have the option to cancel the order.</div>
      <div>8. In case of an advance order, which is placed 2 days prior to the actual delivery date, if the Home Chef does not accept the order, then the order stands canceled after 2 hours (approx.). In the meantime, the user will also have an option to cancel the order.</div>
      <div>9. Mealawe or the Home Chef may cancel an order if the product is not available for any reason. Mealawe will notify the user if this is the case and return any payments that has been made in full in the user's wallet.</div>
    </section>
    <section class="bgTopDownpadding1">Mealawe reserves the right to collect a penalty for the Orders constrained to be cancelled by Mealawe for reasons not attributable to Mealawe, including but not limited to:</section>
    <section class="bgTopDownpadding1">in the event if the address provided by User/Buyer is either wrong or falls outside the delivery zone;</section>
    <section class="bgTopDownpadding1">failure to contact User/Buyer by phone or email at the time of delivering the Order booking;</section>
    <section class="bgTopDownpadding1">failure to deliver User/Buyer Order due to lack of information, direction or authorization from Buyer at the time of delivery; or</section>
    <section class="bgTopDownpadding1">unavailability of all the items ordered by User/Buyer at the time of booking the Order; or</section>
    <section class="bgTopDownpadding1">unavailability of all the items ordered by User/Buyer at the time of booking the Order. However, in the unlikely event of an item in an Order being unavailable, Mealawe will contact the Buyer on the phone number provided to us at the time of placing the Order and inform Buyer of such unavailability. In such an event Buyer will be entitled to cancel the entire Order and shall be entitled to a refund to an amount upto 100% of the Order value in the user's wallet.</section>
    <section class="bgTopDownpadding1">In case of cancellations for the reasons attributable to Mealawe or the Vendor/Merchant or pick-up & delivery partner, Mealawe shall not collect any penalty from the Buyer.</section>

  </div> 
</body>

</html>